.button {
    @include fs(18);
    border: none;
    padding: 1rem 2rem;
    position: relative;
    z-index: 5;
    font-weight: 300;
    @include box-sizing(border-box);
    @include border-radius(0);

	&.white-button {
	    background: #FFF;
	    color: $black;

	    &:hover {
	    	background: $black;
	    	color: #FFF;
	    }
	}
}