.button {
    @include fs(18);
    border: none;
    padding: 14px 40px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 5;	
    font-weight: 300;
    font-weight: 300;
    @include box-sizing(border-box);
    @include border-radius(0);

	&.white-button {
	    background: #FFF;
	    color: $blue;

	    &:hover {
	    	background: $blue;
	    	color: #FFF;
	    }
	}

	&.blue-button {
	    background: $blue;
	    color: #FFF;

	    &:hover {
	    	background: #007095;
	    	color: #FFF;
	    }
	}    

	&.orange-button {
	    background: $orange;
	    color: #FFF;

	    &:hover {
	    	background: $orange-hover;
	    	color: #FFF;
	    }
	}  	
}

.chevron-button {
	color: $blue;
	text-align: center;
	@include inline-block;
	@include fs(18);
    margin-bottom: 5px;
    line-height: 1.3;

    span {
    	text-decoration: underline;
    }

	&:before {
		@include icon('chevron-right-circle');
		@include fs(26);
		vertical-align: middle;
		margin-right: 9px;
		display: block;
		text-align: center;
		@include transition(all 0.3s ease);
	}

	&:hover {
		color: #FF9A00;

		&:before {
			color: #FF9A00;
		}
	}
}