
::-webkit-input-placeholder {
    color: #aeaeae;
    @include fs(15);
    font-weight: 300;
}

:-moz-placeholder {
    color: #aeaeae;
    @include fs(15); 
    font-weight: 300;
}

::-moz-placeholder {
    color: #aeaeae;
    @include fs(15);
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #aeaeae;
    @include fs(15);
    font-weight: 300;
}

#input-acceptConditions {
    display: none;
}

dl dd {
    margin: 0 0 10px 0;
    position: relative;
}

dl dt {
     margin: 0px;
}

#ppsSignupForm {
    position: relative;
    max-width: 330px;

    @include dw(768) {
        margin: 0 auto;
    }
}

#ppsSignupForm iframe {
    opacity: 0;
    width: 0;
    height: 0
}

#ppsSignupForm input[type=text] {
    width: 100%;
    height: 45px;
    border: 0;
    background: #fff;
    color: #aeaeae;
    @include fs(14);
    padding: 0 1vw;
    margin: 0;
    line-height: normal;
    @include box-sizing('border-box');
}

#ppsSignupForm select {
    width: 100%;
    height: 5vw;
    border: 0;
    color: #aeaeae;
    font-size: 2vw
}

#ppsSignupForm dt label {
    display: none
}

#ppsSignupForm .terms {
    margin: 1em 0;
}


#ppsSignupForm .terms label {
    @include fs(11);
    font-weight: 400;
    color: #fff;
    line-height: 1.3;
    display: block;
}

#ppsSignupForm .terms label a {
    color: #fff;
    text-decoration: underline
}

#ppsSignupForm input[type=submit] {
    color: #fff;
    line-height: 1;
    @include fs(16);
    padding: 14px 40px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    opacity: 1;
    width: 100%;
    text-transform: uppercase;
}

#ppsSignupForm .requiredText {
    display: none
}

#ppsSignupForm::-webkit-input-placeholder {
    opacity: 1
}

#ppsSignupForm:-moz-placeholder {
    opacity: 1
}

#ppsSignupForm::-moz-placeholder {
    opacity: 1
}

#ppsSignupForm:-ms-input-placeholder {
    opacity: 1
}

#ppsSignupForm .terms label.error,
#ppsSignupForm label.error {
    width: 100%;
    height: auto;
    padding: 5px;
    text-align: center;
    @include fs(12);
    color: #fff;
    background-color: #ee4823;
    line-height: normal;
    font-weight: 400;
    display: block;
    @include box-sizing(border-box);
    position: relative;

    &:before {
        position: absolute;
        left: 2em;
        top: -5px;
        content: '';
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        
        border-bottom: 5px solid #ee4823;
    }    
}

#ppsSignupForm .checker {
    position: relative;
    width: 2vw;
    height: 2vw;
    background: #000;
    display: inline-block;
    vertical-align: middle;
    margin: 0 .5vw 0 0
}

#ppsSignupForm .checker input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0
}

.selectric-disabled,
.selectric-items .disabled {
    opacity: .5;
    -webkit-user-select: none;
    -moz-user-select: none;
    filter: alpha(opacity=50)
}

#ppsSignupForm .checker span {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    border: .3vw solid #fff;
    box-sizing: border-box
}

.selectric .button,
.selectric .label {
    height: 45px;
    display: block;
    overflow: hidden;
    text-align: left;
}

#ppsSignupForm .checker span.checked {
    background: #3d76b9
}

.selectric-wrapper {
    position: relative;
    cursor: pointer
}

.selectric-responsive {
    width: 100%
}

.selectric {
    position: relative;
    background: #fff
}

.selectric .label {
    margin: 0 5vw 0 1vw;
    padding: 0;
    text-overflow: ellipsis;
    line-height: 45px;
    @include fs(15);
    white-space: nowrap;
    color: #aeaeae;
    background: #fff;
    font-weight: 300
}

.selectric .button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    text-indent: -9999px;
    background: url(../images/icons/icon-arrow-down.svg) center center no-repeat #3d76b9;
    background-size: 40%;
    border: 0;
    border-radius: 0;
    padding: 0;
}

.selectric-hover .selectric,
.selectric-open .selectric {
    border-color: #C4C4C4
}

.selectric-hover .selectric .button {
    color: #A2A2A2
}

.selectric-hover .selectric .button:after {
    border-top-color: #A2A2A2
}

.selectric-open {
    z-index: 9999
}

.selectric-open .selectric-items {
    display: block
}

.selectric-disabled {
    cursor: default;
    user-select: none;
    -ms-user-select: none
}

.selectric-hide-select {
    position: relative;
    width: 0;
    height: 0;
    overflow: hidden
}

.selectric-hide-select select {
    display: none;
    position: absolute;
    left: -100%
}

.selectric-input {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    width: 1px!important;
    height: 1px!important;
    margin: 0!important;
    padding: 0!important;
    border: none!important;
    overflow: hidden!important;
    clip: rect(0, 0, 0, 0)!important;
    outline: 0!important;
    background: 0 0!important
}

.selectric-temp-show {
    display: block!important;
    visibility: hidden!important;
    position: absolute!important
}

.selectric-items {
    display: none;
    z-index: -1;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #C4C4C4;
    background: #F8F8F8;
    box-shadow: 0 0 10px -6px
}

.selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto
}

.selectric-above .selectric-items {
    top: auto;
    bottom: 100%
}

.selectric-items li,
.selectric-items ul {
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 12px;
    line-height: 20px;
    list-style: none
}

.selectric-items li {
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #EEE;
    color: #666;
    cursor: pointer
}

.selectric-items li.selected {
    color: #444;
    background: #EFEFEF
}

.selectric-items li:hover {
    color: #3d76b9;
    background: #F0F0F0
}

.selectric-items .disabled {
    color: #666!important;
    background: 0 0!important;
    cursor: default!important;
    user-select: none;
    -ms-user-select: none
}

.selectric-items .selectric-group .selectric-group-label {
    padding-left: 10px;
    font-weight: 700;
    color: #444;
    background: 0 0;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none
}

.btn-primary {
    background: $blue;
    color: #FFF;
    @include fs(18);
    border: none;
    width: 100%;
    padding: 14px;
    font-family: 'Roboto', sans-serif;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 21px;
    height: 21px;
    background: #FFF;
    outline: none;
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 42px;
    height: 42px;
    background: #FFF;
    outline: none;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    font-family: 'icons';
    content: "\e90e";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: absolute;
    top: 9px;
    left: 4px;
    font-size: 10px;
    line-height: 0.8;
    color: $blue;
    transition: all .2s;
}

[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    font-family: 'icons';
    content: "\e90e";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: absolute;
    top: 16px;
    left: 7px;
    font-size: 20px;
    line-height: 0.8;
    color: $blue;
    transition: all .2s;
}

[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after, [type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before,
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before  {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after,
[type="radio"]:disabled:checked + label:after
 {
    color: #999;
}

[type="checkbox"]:disabled + label, [type="radio"]:disabled + label {
    color: #aaa;
}

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before,
[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before  {
    border: 1px dotted blue;
}

label:hover:before {
    border: 1px solid #4778d9!important;
}


#formElement10 {
    margin: 3em 0;

    label {
        padding-top: 4px;
        @include fs(13);
        color: $blue;

        a {
            color: $blue;            
            text-decoration: underline;
        }
    }
}
