
::-webkit-input-placeholder {
    color: #aeaeae;
    @include fs(15);
    font-weight: 300;
}

:-moz-placeholder {
    color: #aeaeae;
    @include fs(15);
    font-weight: 300;
}

::-moz-placeholder {
    color: #aeaeae;
    @include fs(15);
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #aeaeae;
    @include fs(15);
    font-weight: 300;
}