/****************/
/* MAIN COLOURS */
/****************/

$blue : #3D76B9;
$blue-hover : #3D76B9;

$light-blue : #72C7E3;

$orange : #F5A623;
$orange-hover : #e57c00;

$beige : #F7F3F0;
$green : #0d8140;
$green-hover : #0b6a35;

$light-gray : #F7F7F7;

$grayer : #D6D6D6;